.container {
    width: 90%;
    min-height: 90vh;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(30, 255, 0, 0.699) , rgba(0, 140, 255, 0.781));
}